/**week_one */
week_one/day_one/.cph
week_one/day_one/.vscode
week_one/day_two/.cph
week_one/day_two/.vscode
week_one/day_three/.cph
week_one/day_three/.vscode
week_one/day_four/.cph
week_one/day_four/.vscode
week_one/day_five/.cph
week_one/day_five/.vscode
week_one/day_six/.cph
week_one/day_six/.vscode
week_one/day_seven/.cph
week_one/day_seven/.vscode

/**week_two */
week_two/day_one/.cph
week_two/day_one/.vscode
week_two/day_two/.cph
week_two/day_two/.vscode
week_two/day_three/.cph
week_two/day_three/.vscode
week_two/day_four/.cph
week_two/day_four/.vscode
week_two/day_five/.cph
week_two/day_five/.vscode
week_two/day_six/.cph
week_two/day_six/.vscode
week_two/day_seven/.cph
week_two/day_seven/.vscode

/**week three */
week_three/day_one/.cph
week_three/day_one/.vscode
week_three/day_two/.cph
week_three/day_two/.vscode
week_three/day_three/.cph
week_three/day_three/.vscode
week_three/day_four/.cph
week_three/day_four/.vscode
week_three/day_five/.cph
week_three/day_five/.vscode
week_three/day_six/.cph
week_three/day_six/.vscode
week_three/day_seven/.cph
week_three/day_seven/.vscode


/**week four */
week_four/day_one/.cph
week_four/day_one/.vscode
week_four/day_two/.cph
week_four/day_two/.vscode
week_four/day_three/.cph
week_four/day_three/.vscode
week_four/day_four/.cph
week_four/day_four/.vscode
week_four/day_five/.cph
week_four/day_five/.vscode
week_four/day_six/.cph
week_four/day_six/.vscode
week_four/day_seven/.cph
week_four/day_seven/.vscode

/**week five */
week_five/day_one/.cph
week_five/day_one/.vscode
week_five/day_two/.cph
week_five/day_two/.vscode
week_five/day_three/.cph
week_five/day_three/.vscode
week_five/day_four/.cph
week_five/day_four/.vscode
week_five/day_five/.cph
week_five/day_five/.vscode
week_five/day_six/.cph
week_five/day_six/.vscode
week_five/day_seven/.cph
week_five/day_seven/.vscode

